<%- include('../header'); -%>
<%- include('../nav_bar'); -%>
<br>
<ul class="list-group">
<% if (errors) { %>
    <% errors.forEach(function(error) { %>
    <li class="list-group-item list-group-item-danger"><%= error.param %> : <%= error.msg %></li>  
    <% }); %>
 <% } %>
</ul>
<br>
<form action="/admin/add" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" required>
    </div>
    <div class="form-group">
        <label for="slug">Slug</label>
        <input type="text" class="form-control" name="slug" value="<%= slug %>" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label><br>
        <textarea name="content" id="" cols="30" rows="10" class="form-control" required><%= content %></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
<%- include('../footer'); -%>