<%- include('../fragments/admin_header'); -%>
<%- include('../fragments/admin_nav_bar'); -%>
<br>
<br>
<% if(message){ %>
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> <%= message.success %>
    </div>
<% } %>
<br>
<a href="/admin/add" class="btn btn-primary float-right">Add Admin Page</a>
<br>
<br>
<table class="table table-striped">
    <thead>
        <tr class="home">
            <th scope="col">Title</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="sortable-list">
        <% pages.forEach(function(page) { %>
        <tr id="<%= page._id %>" class="<%= page.slug %>">
            <td scope="row"><%= page.title %></td>
            <td scope="row"><a href="/admin/edit/<%= page._id %>">Edit</a></td>
            <td scope="row"><a class="alink" href="/admin/del/<%= page._id %>">Del</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<script>
    $('tbody').sortable({
        items: "tr:not('.home')",
        placeholder: "ui-state-hightlight",
        update: function(event,ui) {
            var ids = [];
            $("tbody tr").each(function(){
                ids.push($(this).attr("id"));
            });
            console.log(ids);
            var url = "/admin/reorder";
            $.post(url, {id: ids});
            // $.ajax({
            //     type: "POST",
            //     dataType: "json",
            //     contentType: "application/json",
            //     url: url,
            //     data: JSON.stringify({id: ids}),
            // });
        }
    });
</script>
<%- include('../fragments/admin_footer'); -%>